@charset "utf-8";

:root {
  --animation-duration: 500ms;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1vw;
  overflow-x: hidden;
  color: #000;
  background: #59ae8d;
  font-kerning: normal;
}

@media all and (min-width: 900px) {
  html {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: #000;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body.lock {
  overflow: hidden;
}

#app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

header {
  position: relative;
  padding: 6vh 2rem 2rem 2rem;
  background: #59ae8d;
}

header .content {
  position: relative;
  height: 8rem;
}

header .name {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30rem;
  margin-left: -15rem;
}

header .lang {
  font-size: 2em;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}

header .lang a {
  transition: color 200ms;
  color: #ffffff99;
}

header .lang a + a:before {
  content: '| ';
  color: #ffffff33;
}

[data-lang] {
  display: none;
}

.en [data-lang='en'] {
  display: block;
}

.ru [data-lang='ru'] {
  display: block;
}

.kz [data-lang='kz'] {
  display: block;
}

.en a[href='#en'] {
  color: #ffffffff;
}

.ru a[href='#ru'] {
  color: #ffffffff;
}

.kz a[href='#kz'] {
  color: #ffffffff;
}

header .name svg {
}

header .name svg .fill {
  fill: #fff;
}

.social {
  font-size: 0.5em;
  text-align: center;
}

.social a {
  margin: 1.2em;
}

.social a svg {
  width: 5em;
  height: 5em;
}

.social a svg .fill {
  transition: fill var(--animation-duration);
  fill: #fff;
}

.social a:hover svg .fill {
  fill: #fff;
}

@media all and (min-width: 600px) {
  header .name {
    left: 0;
    width: 28rem;
    margin-left: 0;
  }
}

@media all and (min-width: 900px) {
  header .name {
    width: 280px;
  }
}

footer {
  position: relative;
  padding: 6rem 2rem 20vh 2rem;
  background: #59ae8d;
}

footer .content {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

footer .name {
  width: 30rem;
}

footer .name svg .fill {
  fill: #fff;
}

@media all and (min-width: 600px) {
  footer .name {
    width: 28rem;
  }
}

@media all and (min-width: 900px) {
  footer .name {
    width: 280px;
  }
}

.about {
  font-size: 3em;
  line-height: 1.3em;
  color: #ffffff;
  background: #524988;
}

.about p {
  padding: 0.4rem 0;
}

.about .content {
  padding: 6rem;
}

.about .me {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 6rem auto;
  background: transparent url('./img/AssemYskak.jpg') center center no-repeat;
  background-size: contain;
  aspect-ratio: 9 / 16;
}

.about .welcome,
.about .bio,
.about .project {
  width: 100%;
  margin-bottom: 6rem;
}

.about .welcome {
  font-size: 1.5em;
  margin-bottom: 6rem;
  padding-top: 1rem;
}

@media all and (min-width: 600px) {
  .about {
    font-size: 14px;
  }

  .about .me {
    max-width: 280px;
    margin-bottom: 3rem;
  }

  .about .welcome,
  .about .bio,
  .about .project {
    margin-bottom: 3rem;
  }
}

@media all and (min-width: 900px) {
  .about {
    font-size: 16px;
  }

  .about .content {
    display: grid;
    padding: 5rem 0;
    grid-template-columns: 280px auto;
    grid-template-rows: auto auto 1fr;
  }

  .about .me {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / span 4;
  }

  .about .welcome,
  .about .bio,
  .about .project {
    max-width: 100%;
    padding-left: 6rem;
    grid-column: 2;
  }

  .about .welcome {
    order: 2;
  }

  .about .bio {
    order: 3;
  }

  .about .project {
    order: 4;
  }

  .about .social {
    order: 5;
  }
}

.names .container {
}

.names .name {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  aspect-ratio: 9 / 16;
}

.names .name .info {
  font-size: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  padding: 2em;
  cursor: pointer;
  transition:
    background 500ms,
    opacity 500ms;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
}

.names .name.opened .info {
  visibility: visible;
  opacity: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}

@media all and (min-width: 1200px) {
  .names .name {
    cursor: default;
  }

  .names .name .info {
    left: 100%;
    visibility: visible;
    cursor: default;
  }
}

.names .name .info h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.names .name .info p {
  margin-bottom: 0.5em;
}

.names .name .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition:
    width 500ms linear,
    opacity 200ms;
  opacity: 0;
  background-color: #fff;
}

.names .name.playing .progress {
  opacity: 1;
}

.names .name video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.names .name img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 200ms;
  opacity: 1;
}

.names .name.playing img {
  opacity: 0;
}
